.center {
    margin-left: 250px;
}

.content {
    display: table-cell;
    border-spacing: 10px;
    border-collapse: separate;
}

.row {
    display: table-row;
}

#d0 {
    width: 150px;
    height: 60px;
    padding: 5px;
    background-color: red;
    text-align: center;
    font-size: 11px;
    border: red solid;
    border-radius: 25px;
    display: table-cell;
}

#d1 {
    width: 150px;
    height: 60px;
    padding: 5px;
    background-color: green;
    text-align: center;
    font-style: italic;
    border: blue solid;
    border-radius: 5px;
    margin-left: 10px;
    display: table-cell;
}

#d2 {
    width: 150px;
    height: 60px;
    padding: 5px;
    background-color: blue;
    text-align: center;
    border: blue solid;
    border-radius: 8px;
    margin-left: 10px;
    display: table-cell;
}


