#d0 {
    width: 150px;
    height: 60px;
    padding: 10px;
    background-color: red;
    text-align: center;
    font-size: 11px;
    border: red solid;
    border-radius: 25px;
    display: inline-table;
    margin-left: 250px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#d1 {
    width: 150px;
    height: 60px;
    padding: 10px;
    background-color: green;
    text-align: center;
    font-style: italic;
    border: blue solid;
    border-radius: 5px;
    display: inline-table;
}

#d2 {
    width: 150px;
    height: 60px;
    padding: 10px;
    background-color: blue;
    text-align: center;
    border: blue solid;
    border-radius: 8px;
    display: inline-table;
}


